@media screen and (min-width: 550px) and (max-width: 767px){
	nav ul li {
	    float: left;
	    width: 20%;
	    white-space: nowrap; /*что бы текст не переносился*/
	    text-align: center;
	    background-color: #1f1f1f;
	    color: white;
	}
	nav ul li:hover{
	    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	    background: #b92828;
	}
	#logo{
		height: 150px;
	}
	aside{
		float: none;
		width: 98%;
	}
	#container{
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
		display: block;
	}
}