@media screen and (max-width: 549px){
	html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, aside,  address, big, cite, code, del, dfn, em, img, ol, ul, li,  form,
	 table, caption,  tr, th, td {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-weight: inherit;
	    font-style: inherit;
	    font-size: 100%;
	    font-family: inherit;
	    vertical-align: baseline;
	}
	body {
	    font: 12px/1.2 Helvetica, Arial, sans-serif;
	    line-height: 1;
	}
	#home{
		margin-right: auto;
	    margin-left: auto;
	    width: 99%;
	    background-color: #525252;
	    margin-bottom: 4px;
	}
	header{
		margin-right: auto;
	    margin-left: auto;
		width: 99%;
	}
	nav {
	    display: table;
	    margin-bottom: 4px;
	    margin-top: 10px;
	    width: 100%;
	}
	ol, ul {
		list-style: none;
	}
	body {
		background: #525252;
	}
	nav ul li a { 
		height: 42px;
		text-decoration: none;  
		color: white; 
		text-shadow: 0 1px 0 hsla(0, 0%, 100%, 1.0);
		font: 1.875em/42px 'BebasNeueRegular';
		display: block;	
	}
	nav ul li {
	    float: none;
	    margin: auto;
	    width: 99%;
	    white-space: nowrap; /*что бы текст не переносился*/
	    text-align: center;
	    background-color: #1f1f1f;
	    color: white;
	}
	nav ul li:hover{
	    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	    background: #b92828;
	}
	#logo{
		width: 75%;
		height: 120px;
		display: inline-block;
	}
	.logotip{
		text-align: center;
	}

	.theWitcherScreen{
		width: 96%;
		margin-right: 2%;
		margin-left: 2%;
	}
	#info-suit{
		font-size: 200%;
		font-family: "Monotype Corsiva";
		background-color: #1f1f1f;
		margin-bottom: 10px;
		    border-bottom-color: #bfbfbf;
	    border-bottom-style: double;
	    border-bottom-width: 4px;
	}
	aside{
		float: none;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 20px;
		padding-bottom: 5px;
		background-color: #1f1f1f;
		width: 98%;
		color: white;
		text-align: center;
	}
	h1{
		margin: 5px;
		margin-top: 10px;
		font-size: 150%;
		font-family: "Monotype Corsiva";
	}

	#container{
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
		margin-top: 16px;
		margin-bottom: 10px;
		background-color: #1f1f1f;
		display: block;
		color: white;
		font-size: 150%;
		font-family: "Monotype Corsiva";
	}
	#container h1, h2{
		font-size: 200%;
		margin: 5px;
		margin-top: 10px;
	}
	#container p, #container li{
		margin-left: 10px;
	}
	#container div{
		text-align: center;
		padding: 10px;
	}
	#container div img{
		width: 70%;
		margin-left: 1%;
		margin-right: 1%;
		text-align: center;
		display: inline-block;
	}
	.images{
		display: inline-block;
	}
}
/*@media screen and (min-width: 300px) and (max-width: 400px) {